@model VerlofSysteem.ViewModel.VerlofViewModel

<h1>@Model.titel</h1>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Gebruiker</th>
        <th>Aanvraag Datum</th>
        <th>Start Datum</th>
        <th>Eind Datum</th>
    </tr>
    <tr>
        <td>@Model.verlof.Id</td>
        <td>@Model.verlof.Gebruiker</td>
        <td>@Model.verlof.AanvraagDatum</td>
        <td>@Model.verlof.StartDatum</td>
        <td>@Model.verlof.EindDatum</td>
    </tr>
</table>