@model IEnumerable<VerlofSysteem.Models.Verlof>

@{
    ViewData["Title"] = "Title - Verlof";
}
<table class="table">
    <tr>
        <th>ID</th>
        <th>Gebruiker</th>
        <th>Aanvraag Datum</th>
        <th>Start Datum</th>
        <th>Eind Datum</th>
    </tr>
    @foreach (var verlof in Model)
    {
        <tr>
            <td>@verlof.Id</td>
            <td>@verlof.Gebruiker</td>
            <td>@verlof.AanvraagDatum</td>
            <td>@verlof.StartDatum</td>
            <td>@verlof.EindDatum</td>
        </tr>
    }
</table>